*{
  border-radius: 25px;
}
div#chat-display {
  margin: 15px;
  border: 1px solid lightgray;
}
div#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: lightgray;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 10px;
}
.disabled{
  opacity: 0.2;
}
h1 {
  margin: 0;
}
div#contact-icon {
  color:white;
  background: gray;
  padding-left: 15px;
  padding-right: 15px;
}
div#messages {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 10px;
}
a#timeStamp {
  text-align: center;
  color:gray;
}
div#bubble {
    display:inherit;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin: 5px;
    box-shadow: 5px 5px #ededed;
}
div#from-container > div#bubble{
  background: rgb(158, 231, 255);
}
div#to-container > div#bubble{
  background: rgb(228, 228, 228);
}
div#to-container{
  width: 100%;
  display: inherit;
  justify-content: flex-end;
}
div#from-container{
  width: 100%;
  display: inherit;
  justify-content: flex-start;
}
button#load-more{
  opacity: 0;
}
button#load-more:focus{
  outline:0;
}
